# OpenSim Outputs
opensim.log
ik_output.mot
_ik_marker_errors.sto
_ik_model_marker_locations.sto
**/Models/

# Project Files
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution
build/
dist/
package/
*.egg-info/
*.egg